* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}
/*color setting for header logo*/
.seo {
    color: #d9dcd6;
}
/*navigation bar settings*/
nav {
    display:flex;
    flex-direction: row;
    padding-top: 15px;
    margin-right: 20px;
    justify-content: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    overflow:hidden;
   
}

/*Link setting for navigation bar*/
nav a {
    display:flex;
    padding: 1px 20px;
    color: #ffffff;
    text-decoration: none;
    
}
/*general text settings*/
p {
    display:block;
    font-size: 16px;
    
}
/*sets section for main display image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*creating float aspect for images within services sections*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*creating display aspects for services elements"*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Creates the benefits block section floating to the right of the services on the page*/
.benefits {
    display:block;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*particular perks section aspects*/
.perks {
    margin-bottom: 32px;
    color: #ffffff;
}

.perks h3 {
    margin-bottom: 10px;
    text-align: center;
}

.perks img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*service box settings*/
.services {
    display:block;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    overflow:auto 
   
}
/*specific aspect settings for service elements*/
.services img {
    max-height: 200px;
}

.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
